.recentTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  font-weight: bold;

  .topText1 {
    font-size: 15px;
  }
  .topText2 {
    font-size: 14px;
    color: #0095f6;
  }
}

.recentUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  .recentUserProfile {
    display: flex;
    align-items: center;
    font-size: 13px;

    .userImg {
      width: 40px;
      height: 40px;
      border-radius: 70%;
      margin: 0px 15px;
    }

    .userName1 {
      font-weight: bold;
      padding-bottom: 3px;
    }

    .userName2 {
      color: #9e9e9e;
    }
  }

  .closeImg {
    width: 15px;
    height: 15px;
    margin-right: 15px;
  }
}
