.searchUserProfile {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-bottom: 10px;

  &:nth-of-type(1) {
    margin-top: 20px;
  }

  .userImg {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    margin: 0px 15px;
  }

  .userName1 {
    font-weight: bold;
    padding-bottom: 3px;
  }

  .userName2 {
    color: #9e9e9e;
  }
}
